# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.o
*.so

# Virtual environment
.venv
venv
ENV
env

# Model files
# Ignore large model files from version control
*.pt
*.pth

# RGB, Depth, and 3D Point Cloud image files
image_data/
result_metaclip/
*.png
*.npy
*.ply

# results 
inference_results/

# IDE / Editor specific
.vscode/
.idea/

# Demo scripts
src/rgb_keypoint_detection.py
src/inference_demo_simple.py
src/fitted_sheet_homography_keypoint_extraction.py
src/classify_fitted_sheet.py

src/box_v2.py
src/box_v3.py
src/main_seg.py
