# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.o
*.so

# Virtual environment
.venv
venv
ENV
env

# Model files
# Ignore large model files from version control
*.pt
*.pth

# RGB and Depth image files
image_data/

# IDE / Editor specific
.vscode/
.idea/

# Demo scripts
src/rgb_keypoint_detection.py